bin
*.chp
*.out
*.so
*.a
*.tmp
*.chp
*.pid
t.bds*
tmp
distro/*
lib/*
go/bds/bds
go/bds/pkg
go/bds/src/github.com
target/*
mvn/target/*
build/*
.bds/bds
.DS_Store
npm-debug.log
Thumbs.db
*/node_modules/
*/out/
*/.vs/
tsconfig.lsif.json
*.lsif
*.db
